@import "../../../styles/valuable.scss";

@media (max-width: 426px) {
  .team,
  .member {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 48rem;
    > div {
    }
  }
}

.team,
.member {
  background-color: $blue90;
  display: flex;
  align-items: center;
  > div {
    width: 100%;
  }
  h2 {
    font-size: 64rem;
    margin-bottom: 16px;
  }
  .introduction {
    line-height: 170%;
    color: $gray60;
    word-break: keep-all;
    white-space: pre-wrap;
    margin-bottom: 48px;
  }
}

.highlight {
  font-size: 64rem;
  color: $blue50;
}

.gradientLogo {
  position: relative;
  width: 354rem;
  height: 206rem;
  margin: auto;
  overflow: hidden;
  img,
  div {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  img {
    box-sizing: content-box;
    border: 2px solid $blue90;
    z-index: 1;
  }
  .gradient {
    width: 250%;
    border-left: 1px solid $blue90;
    border-top: 1px solid $blue90;
  }
}
