:root {
  --blue-20: #687697;
  --blue-30: #48a3f5;
  --blue-50: #0088ff;
  --blue-60: #025eb6;
  --blue-80: #1c2845;
  --blue-90: #06122f;
}

html {
  font-size: 0.7px;
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 0.6px;
  }
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Pretendard";
  color: white;
}

article[class="bg"] {
  width: 100%;
  height: fit-content;
  padding: 0 20vw;
}

h1 {
  font-size: 56rem;
}
h1 ~ p {
  margin-top: 20rem;
  font-size: 20rem;
  font-weight: 400;
  line-height: 28rem;
  color: var(--blue-20);
}

h2 {
  font-size: 52rem;
  font-weight: 600;
}

h3 {
  font-size: 36rem;
}

.between {
  display: flex;
  justify-content: space-between;
}

.section {
  color: var(--blue-50);
  font-size: 26rem;
  font-weight: bold;
}

.section ~ h1 {
  margin-top: 12rem;
}

#vision {
  background-color: var(--blue-90);
  padding-top: 282rem;
  padding-bottom: 162rem;
}

.highlight {
  position: relative;
  z-index: 1;
}

.highlight::before {
  position: absolute;
  content: "";
  width: 100%;
  line-height: 0.1px;
  color: transparent;
  display: inline-block;
  border-top: 0.3em solid var(--blue-60);
  border-radius: 10rem;
  top: 0.9em;
  left: 0;
  z-index: -1;
}

.shapeLogo {
  width: 280rem;
  height: 280rem;
  background-color: var(--blue-50);
  position: relative;
  border-radius: 73.33rem;
  box-shadow: 5px 5px 10px 0px rgba(168, 215, 255, 0.6) inset,
    -3.333px -5px 10.667px 0px rgba(0, 82, 153, 0.5) inset;
}

.shapeLogo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blue-20);
  border: 116rem solid var(--blue-50);
  border-radius: 73.33rem;
  filter: blur(52px);
}

.shapeLogo img {
  width: 180rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#vision-detail {
  margin-top: 400rem;
}

.vition-section {
  display: flex;
  align-items: center;
  gap: 32rem;
}

#vision-detail img {
  width: 160rem;
  height: 160rem;
}

#vision-detail h6 {
  font-size: 24rem;
  font-weight: 600;
  line-height: 26rem;
}

#vision-detail p {
  margin-top: 16rem;
  font-size: 22rem;
  font-weight: 400;
  color: #a1a1a1;
}

#vision-detail > div {
  display: flex;
  flex-direction: column;
  gap: 72rem;
  margin-top: 64rem;
}

#members {
  margin-top: 495rem;
  position: relative;
}

#members > img {
  width: 250rem;
  position: absolute;
  top: -70rem;
  left: 50%;
  transform: translate(-400rem, 0);
}

#members > h2 {
  text-align: center;
  margin-bottom: 132rem;
}

.blue {
  color: var(--blue-30);
}

.card-list {
  display: flex;
  gap: 20rem;
  margin-bottom: 44rem;
}

.card-container {
  width: 391rem;
  height: 141rem;
  background-color: var(--blue-80);
  border-radius: 16rem;
  display: flex;
  padding: 24rem 28rem;
  gap: 13rem;
}

.card-container p {
  font-size: 20rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.card-container > img {
  width: 64rem;
  height: 64rem;
  border-radius: 50%;
  overflow: hidden;
}

.rolebox {
  display: flex;
  gap: 8rem;
  align-items: center;
}

.rolebox > p {
  font-size: 18rem;
  font-weight: 400;
}

.rolebox > .name {
  font-size: 26rem;
  font-weight: 600;
  line-height: 33rem;
}
