$blue20: #687697;
$blue30: #48a3f5;
$blue50: #0088ff;
$blue60: #025eb6;
$blue80: #1c2845;
$blue90: #06122f;

.intro {
  width: 100vw;
  height: 100vh;
  background-color: $blue50;
  display: flex;
  justify-content: center;
  align-items: center;
  h1,
  h2 {
    font-size: 96rem;
    text-align: center;
    line-height: 150%;
  }
  &-keyword {
    height: 144rem;
    overflow: hidden;
  }
}

.scroll-hint {
  position: absolute;
  bottom: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  p {
    font-size: 16rem;
  }
  img {
    width: 24rem;
    height: 24rem;
  }
}

.gradient {
  width: 100vw;
  height: 900rem;
  background: linear-gradient(0deg, #06122f 0%, #08f 100%);
}
